{{>nav}}

<section class="container wrapper" id="add">
  <div class="form-wrap">
    <h1>Add Your Dream</h1>
    {{!-- Display errors --}}
    {{#each errors}}
    <div class="error">
      <p>{{text}}</p>
    </div>
    {{/each}}

    <form action="/api/dreams" method="POST">
      <div class="input-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="input-box"
          placeholder="eg. Small Wordpress website, React developer" maxlength="100" value={{title}}>
      </div>
      <div class="input-group">
        <label for="technolovisual visualvisuales">Tags/Themes</label>
        <input type="text" name="tags" id="tags" class="input-box" placeholder="chase, dog, night"
          maxlength="100" value={{tags}}>
      </div>
      <div class="input-group">
        <label for="description">Dream</label>
        <textarea name="description" id="description" class="input-box" placeholder="It was a long, dark road..."
          rows="10">{{description}}</textarea>
      </div>
      <input type="submit" value="Add Dream" id="btn-add"class="btn btn-reverse bg-warning">
    </form>
  </div>
</section>

