<div class="container">
  {{>nav}}
</div>


<div class="wrapper-all">
  <div class="fixed-bg bg-2">
    <div class="container">
      <div class="row row-add page-wrap scroll-bg justify-content-center">
        <h1 class="h1-add">Add Your Dream</h1>
        <div class="col-md-7">
          <form action="/api/dreams" method="POST" id="form">
            <div class="form-group form-add">
              <label for="title" class="text-add">Title</label>
              <input type="text" name="title" id="title" class="input-box form-control form-control-lg"
                placeholder="The Dog Bushes" maxlength="100" value={{title}}>
            </div>
            <div class="form-group">
              <label for="tags" class="text-add">Tags/Themes</label>
              <input type="text" name="tags" id="tags" class="input-box form-control form-control-lg"
                placeholder="chase, dog, night" maxlength="100" value={{tags}}>
            </div>
            <div class="form-group">
              <label for="description" class="text-add">Dream</label>
              <textarea name="description" id="description" class="input-box" placeholder="It was a long, dark road..."
                rows="12">{{description}}</textarea>
            </div>
        </div>

        <div class="col-md-5 d-flex justify-content-center">
          <div>
            <h2 class="h2-add">Dream Stats</h2><span><em class="text-add1">This is optional</em></span>
            <select class="form-select" name="mood" id="mood" aria-label="Default select example">
              <option selected>Neutral</option>
              <option value="happy">Happy</option>
              <option value="sad">Sad</option>
              {{!-- <option value="neutral">Neutral</option> --}}
              <option value="frightened">Frightened</option>
              <option value="angry">Angry</option>
              <option value="anxious">Anxious/Stressed</option>
            </select>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="lucid" id="lucid">
              <label class="form-check-label text-add" for="flexRadioDefault1">Lucid Dream?</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="nightmare" value="true" id="nightmare">
              <label class="form-check-label text-add" for="flexRadioDefault1">Nightmare?</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="recdream" value="true" id="recdream">
              <label class="form-check-label text-add" for="flexRadioDefault1">Recurring dream?</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="rectheme" value="true" id="rectheme">
              <label class="form-check-label text-add" for="flexRadioDefault1">Recurring Theme?</label>
            </div>
            <button type="submit" value="Add Dream" id="btn-add" class="btn text-add1">Submit</button>
          </div>
          <br>
          {{!-- FINISH THIS --}}
          <div style="display: none" class="alert alert-primary" role="alert">
            This is a primary alert—check it out!
          </div>
          <br>
          <br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>copyright 2021 DREAMSCAPE, jenner garcia</p>
</div>