<div class="section">
{{>nav}}
</div>

<div class="container">

<section class="container wrapper" id="dash">
    <div class="wrap">
        <h1>This is the dashboard page</h1>

    </div>
</section>
</div>