<div class="container">
    {{>nav}}
</div>

<div class="wrapper-all">
    <div class="fixed-bg bg-5">
        <div class="container-lg" id="dash">
            <div class="page-wrap scroll-bg">
                <div class="row dash-123 justify-content-center">
                    <div class="dash-header">
                        <h1 class="h1-all">DREAM DASHBOARD</h1>
                    </div>
                    <div class="col-sm-8 col-md-4">
                        <canvas id="myChart"></canvas>
                    </div>

                    <div class="col-sm col-md-4">
                        <canvas id="myChart2"></canvas>
                    </div>

                    <div class="col-sm col-md-4">
                        <canvas id="myChart3"></canvas>
                    </div>
                </div>

                <div class="row dash-4 justify-content-center">
                    <div class="col-sm-12 col-md-8">
                        <canvas id="myChart4"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <p>copyright 2021 DREAMSCAPE, jenner garcia</p>
</div>


<script>

    let myChart = document.getElementById("myChart").getContext("2d");


    let lucid;
    let nightmare;
    let recdream;
    let rectheme;
    let arrmood = [];
    let sad;
    let neutral;
    let frightened;
    let happy;
    let angry;
    let anxious;

    let mood;
    let count;
    let dreams;
    fetch("/api/dreams/dash")
        .then(res => res.json())
        .then((data) => {
            console.log(data);
            dreams = data;
            lucid = data.filter((object) => object.lucid);
            nightmare = data.filter((object) => object.nightmare);
            recdream = data.filter((object) => object.recdream);
            rectheme = data.filter((object) => object.rectheme);

            frightened = data.reduce(function (n, object) {
                return n + (object.mood === 'frightened');
            }, 0);
            console.log(frightened)

            happy = data.reduce(function (n, object) {
                return n + (object.mood === 'happy');
            }, 0);
            console.log(happy)

            angry = data.reduce(function (n, object) {
                return n + (object.mood === 'angry');
            }, 0);
            console.log(angry)

            neutral = data.reduce(function (n, object) {
                return n + (object.mood === 'neutral');
            }, 0);
            console.log(neutral)

            anxious = data.reduce(function (n, object) {
                return n + (object.mood === 'anxious');
            }, 0);
            console.log(anxious);

            sad = data.reduce(function (n, object) {
                return n + (object.mood == 'sad');
            }, 0);
            console.log(sad)
            ////

            mood = data.map((item) => {
                arrmood.push(item.mood);
                console.log(arrmood)
            });

            count = {};
            arrmood.forEach(function (i) { count[i] = (count[i] || 0) + 1; });
            count = JSON.stringify(count);
            console.log(count);

            ///////////////

            let massPopChart = new Chart(myChart, {
                type: "pie",  //bar, horizontal, pie, line, doughnut, radar, polar
                data: {
                    labels: ["Lucid", "Non-Lucid"],
                    datasets: [{
                        label: "Population",
                        data: [

                            lucid.length / dreams.length * 100,
                            (dreams.length - lucid.length) / dreams.length * 100,


                        ],
                        //backgroundColor: "green"
                        backgroundColor: [
                            "rgb(51, 174, 26)",
                            "#474747"
                        ],
                        borderWidth: 3,
                        borderColor: "#777",
                        hoverBorderWidth: "#000",
                        hoverBorderColor: "#000"
                    }]
                },
                options: { //these can be altered/deleted
                    title: {
                        display: true, //or false for other charts
                        text: "Lucidity",
                        fontSize: 25,
                        fontColor: "#fff"
                    },
                    legend: {
                        display: false,
                        position: "right", //can change
                        labels: {
                            fontColor: "#000"
                        }
                    },
                    layout: {
                        padding: {
                            left: 50,
                            right: 0,
                            bottom: 0,
                            top: 0
                        }
                    },
                    tooltips: {
                        enabled: true // or true
                    }
                }

            });
            ///////
            let myChart2 = document.getElementById("myChart2").getContext("2d");
            let nightmares = new Chart(myChart2, {
                type: "pie",  //bar, horizontal, pie, line, doughnut, radar, polar
                data: {
                    labels: ["Nightmare", "Non-Nightmare"],
                    datasets: [{
                        label: "Population",
                        data: [
                            nightmare.length / dreams.length * 100,
                            (dreams.length - nightmare.length) / dreams.length * 100,

                        ],
                        //backgroundColor: "green"
                        backgroundColor: [
                            "rgb(51, 174, 26)",
                            "#474747"
                        ],
                        borderWidth: 3,
                        borderColor: "#777",
                        hoverBorderWidth: "#000",
                        hoverBorderColor: "#000"
                    }]
                },
                options: { //these can be altered/deleted
                    title: {
                        display: true, //or false for other charts
                        text: "Nightmares",
                        fontSize: 25,
                        fontColor: "#fff"
                    },
                    legend: {
                        display: false,
                        position: "right", //can change
                        labels: {
                            fontColor: "#000"
                        }
                    },
                    layout: {
                        padding: {
                            left: 50,
                            right: 0,
                            bottom: 0,
                            top: 0
                        }
                    },
                    tooltips: {
                        enabled: true // or true
                    }
                }

            });

            ///////

            let massPopChart3 = new Chart(myChart3, {
                type: "pie",  //bar, horizontal, pie, line, doughnut, radar, polar
                data: {
                    labels: ["Recurring", "Non-Recurring"],
                    datasets: [{
                        label: "Population",
                        data: [
                            (recdream.length / dreams.length * 100),
                            ((dreams.length - recdream.length) / dreams.length * 100),
                        ],
                        //backgroundColor: "green"
                        backgroundColor: [
                            "rgb(51, 174, 26)",
                            "#474747"
                        ],
                        borderWidth: 3,
                        borderColor: "#777",
                        hoverBorderWidth: "#000",
                        hoverBorderColor: "#000"
                    }]
                },
                options: { //these can be altered/deleted
                    title: {
                        display: true, //or false for other charts
                        text: "Recurring",
                        fontSize: 25,
                        fontColor: "#fff"
                    },
                    legend: {
                        display: false,
                        position: "right", //can change
                        labels: {
                            fontColor: "#000"
                        }
                    },
                    layout: {
                        padding: {
                            left: 50,
                            right: 0,
                            bottom: 0,
                            top: 0
                        }
                    },
                    tooltips: {
                        enabled: true // or true
                    }
                }

            });
            ///////



            let massPopChart4 = new Chart(myChart4, {
                type: "doughnut",  //bar, horizontal, pie, line, doughnut, radar, polarArea
                data: {
                    labels: ["Frightened", "Happy", "Angry", "Neutral", "Anxious", "Sad"],
                    datasets: [{
                        label: "Population",
                        data: [
                            (frightened / dreams.length) * 100,
                            (happy / dreams.length) * 100,
                            (angry / dreams.length) * 100,
                            (neutral / dreams.length) * 100,
                            (anxious / dreams.length) * 100,
                            (sad / dreams.length) * 100,

                        ],
                        //backgroundColor: "green"
                        backgroundColor: [
                            "#FFDF46", //fright
                            "#FFCFF1",
                            "#ED0A3F", //angry
                            "#FFE4CD",
                            "#6F2DA8", //anxious
                            "#4BC7CF", //sad


                        ],
                        borderWidth: 3,
                        borderColor: "#777",
                        hoverBorderWidth: "#000",
                        hoverBorderColor: "#000"
                    }]
                },
                options: { //these can be altered/deleted
                    title: {
                        display: true, //or false for other charts
                        text: "Dream Moods",
                        fontSize: 25,
                        fontColor: "#fff"
                    },
                    legend: {
                        display: false,
                        position: "bottom", //can change
                        labels: {
                            fontColor: "#fff"
                        }
                    },
                    layout: {
                        padding: {
                            left: 50,
                            right: 0,
                            bottom: 20,
                            top: 20
                        }
                    },
                    tooltips: {
                        enabled: true // or true
                    }
                }

            });



        });

    //*****Global Options
    //Chart.defaults.global.defaultFontFamily = "",
    //Chart.defaults.global.defaultFontSize = "",
    //Chart.defaults.global.defaultFontColor = "",


</script>