/* font-family: 'Amatic SC', cursive;
font-family: 'Open Sans', sans-serif; */

* {
  box-sizing: border-box;
} 
html,
body {
  margin: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

/* moves header and container down from nav */
.page-wrap {
  margin-top: 120px;
}


.container {
  padding: 0rem 4rem;
  margin: auto;
}

/*  TEXT  & NAVBAR */
.nav-link {
  font-weight: bold;
  font-size: 1rem;
}

.navbar {
  padding: 0;
  height: 70px;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 20px;
}

h2 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 3rem;
}

h3,
.navbar-brand {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 1.75rem;
  letter-spacing: 2px;
}


/* ALL PAGE BACKGROUNDS */

.h1-all {
  color: #f8f9fa;
}

p.landing {
  margin-bottom: 50px;
};

.bgimage {
  width: 100%;
  height: 100%;
  background: url(/img/Slide3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} 
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
} 


/* LANDING HERO */
.hero-image {
  background-image: url("/img/Slide4A.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1.landing {
  letter-spacing: 4px;
}

.btn.btn-landing {
margin-top: 30px;
width: 155px;
}

.btn-landing:hover {
  background-color: rgb(254, 254, 160);
}

/* ADD PAGE */

.h1-add,
.h2-add,
.text-add {
  color: rgb(254, 254, 160)
}
.btn.text-all1
 {
  background-color: #000; 
  color: #fff;
}

.text-add1 {
  color: #fff;
}

.btn.text-add1 {
  background-color: #fff;
  border: solid 1px black;
  color: #000;
}

.btn.text-add:hover,
.btn.text-all1:hover {
  color: #000;
 background-color: rgb(254, 254, 160);
 border: solid 1px #000;
}

.btn.text-add2:hover {
  background-color: red;
}

.btn.text-add2 {
  background-color: darkgrey;
  color: #fff;
}

.col-md-9 {
  /* background: linear-gradient(rgba(58, 57, 57, 0.5), rgba(0, 0, 0, 0.5)) */
  background: #fff;
}

/* .form-check-input:checked[type=radio] {
  background-image: none;
} */


.form-check-input:checked {
  background-color: rgb(51, 174, 26);
  border-color: rgb(51, 174, 26);
  border: none;
}

#mood {
  width: 175px;
}

/* DASH PAGE */

.dash-header {
  margin-top: 30px;
  margin-bottom: 30px;
}
#dash {
  text-align: center;
}


.row.dash-4 {
  padding-top: 60px;
}

/* ALL PAGE */
.wrapper-all {
  height: 100vh;
  width: 100vw;
}

.wrapper-all-all {
  height: 100vh;
  width: 100vw;
}

/* .card.list-group {
  border-color: #000;
} */

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  display: table;
}

/* .scroll-bg {
  padding: 10px 70px;
} */

.bg-1 {
  background-image: url("../img/Slide11.jpg");
}

.bg-2 {
  background-image: url("../img/Slide4A.jpg");
}

.bg-3 {
  background-image: url("../img/Slide8.jpg");
}

.bg-4 {
  background-image: url("../img/Slide5.jpg");
}

.bg-5 {
  background-image: url("../img/Slide11.jpg");
}

.card-jg {
  padding: 1rem;
  box-shadow: #000, 1px;
}

/* READ PAGE */
.read-group,
.read-body {
  margin-bottom: 1.5rem;
  width: 100%;
}

.read-body {
  resize: none;
  border: none;
  outline: none;
}

.btn-edit,
.btn-delete {
  margin-top: 0;
}

/* UPDATE PAGE */
.textbox {
  resize: none;
  padding: 75rem;
  height: 55px;
}

/* ADD AND EDIT INPUTS */
.input-box {
  padding: 0.75rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
  border: 1px solid darkgrey;
  display: inline-block;
}

::placeholder {
  font-style: italic;
  font-size: 0.8rem;
}

.form-select,
.form-check {
  margin-top: 25px;
}

/* Labels above ADD/UPDATE dream forms */
.form-group label {
  margin-bottom: 5px;
}

/* BUTTONS */
.btn {
  width: 110px;
  margin-top: 25px;
}

.btn,
.button {
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  font-weight: 700;
}

#btn-update,
#btn-add {
  margin-bottom: 60px;
}

.btn:hover {
  background-color: rgb(254, 254, 160);
}

/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #000;
  text-align: center;
  height: 2.5rem;
  font-size: 1rem;
  padding-top: 15px;
}

/* SEARCHBAR */

#the-list {
  list-style: none;
}

#myFilter {
  background-color: rgb(254, 254, 160);
}

#update-alert {
  display: none;
}


/* media queries */

@media only screen and (max-width: 768px) {
[class*="col-"] {
  width: 100%;
}

[row*="row"] {
  height: 100vh;
  overflow: scroll;
-webkit-overflow-scrolling: touch; 

}
}