/* @import url("https://fonts.googleapis.com/css?family=Lato"); */
/* font-family: 'Amatic SC', cursive; */

html,
body {
  height: 100%;
  font-size: 1rem;
  color: #000;
}

.container-jg {
  background-color: rgb(211, 201, 201);


}
.wrapper {
  margin-top: 80px;
  background-color: rgb(227, 198, 203);
}
.textbox {
  resize: none;
}

.gradient {
  background: rgb(229, 230, 237);
  background: linear-gradient(90deg, rgba(229, 230, 237, 1) 28%, rgba(237, 237, 247, 1) 96%);
}

.page-header {
  padding-top: 5rem;
}

h1 {
  margin-top: 80px;
  font-family: "Amatic SC", cursive;s
  font-weight: bold;
  font-size: 6rem;
}
h2 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 4rem;
}

/* ADD PAGE */
.error {
  padding: 5px;
  border: #000 dotted 1px;
  margin-bottom: 15px;
}


/* ALL PAGE */
.card-jg {
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: #000, 1px;
}

/* READ PAGE */

.read-group,
.read-body {
  border-top: 1px solid #e6e6e6;
    padding-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background: #f4f4f4;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}


.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}

/* Gigs */
.dream {
background-color: pink;
  /* border-bottom: 4px solid #000; */
  color: #000;
  padding: 1rem;
  margin-bottom: 1rem;
  /* box-shadow: var(--box-shadow); */
}


/* Form */
.form-wrap,
.content-wrap {
  margin: auto;
  color: red;
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  
}


.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
}

